/*HEAD SECTION*/

.head-text {
  margin-top: 160px;
  font-size: 100px;
  text-align: center;
}


.background-image {
  width: 100%;
}

h1 {
  color: white;
  font-size: 90px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 10px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 320px;
}

header {
  background-image: url('/Image_Files/pexels-kelly-4320439.jpg');
  align-items: center;
}


/*Main section*/

section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background-color: rgb(54, 165, 42);
  border-radius: 20px;
  flex-direction: column;
}

.sub-section {
  display: flex;
  flex-direction: row;
}

.headings {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 40px;
}

.image-1,
.image-3  {
  height: 300px;
  float: right;
  padding: 50px 30px 50px 30px;
  transition: 0.3s;
}

.para-1,
.para-3 {
  display: flex;
  width: 100%;
  text-align: justify;
  padding: 30px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px;
  margin: 30px;
}

.image-2 {
  height: 300px;
  float: left;
  padding: 50px 30px 50px 30px;
}


.para-2 {
  display: flex;
  width: 100%;
  text-align: justify;
  padding: 30px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px;
  margin: 30px;
}

.paragraph {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  margin: 60px 90px 30px 90px;
}